body, h1, h2, p, button, ul, li, h4 {
    font-family: Helvetica, sans-serif;
}

.container {
    text-align: left;
}

h2 {
    text-align: left;
    padding: 32px 20px;
}

p {
    text-align: left;
}

input:valid, input:focus:valid, 
textarea:valid, textarea:focus:valid {
    color:green;
    border-color:green;
}


input:invalid, input:focus:invalid, 
textarea:invalid, textarea:focus:invalid {
    color:red;
    border-color:red;
}

/* #label-info {
   place-items: left !important; 
} */

/* div {
    place-items: center;
} */

